<div class="banner">
    <div class="row align-items-end">
        <div class="col-lg-6 pt-100">
            <span class="text-sm-bold color-gray-600 wow animate__animated animate__fadeInUp">Hello World!</span>
            <h1 class="color-gray-50 mt-20 mb-20 wow animate__animated animate__fadeInUp">Ben<a class="typewrite color-linear" href="#" data-period="3000" data-type="[ &quot;Jardeux &quot;, &quot;Jardeux &quot;, &quot;Jardeux&quot; ]"></a></h1>
            <div class="row">
                <div class="col-lg-9">
                    <p class="Merhaba! Ben Umut, Bilişim Sistemleri Mühendisliği öğrencisiyim ve full stack web geliştirme alanında kendimi geliştiriyorum. ASP.NET Core, Entity Framework, MVC mimarisi, JavaScript ve modern frontend teknolojileriyle projeler geliştiriyor; kullanıcı dostu, ölçeklenebilir ve işlevsel uygulamalar oluşturmaya odaklanıyorum."</p>
                </div>
            </div>
            <div class="box-subscriber mt-40 mb-50 wow animate__animated animate__fadeInUp">
               
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="banner-img position-relative wow animate__animated animate__fadeIn">
                <img src=" /imgs/page/homepage1/banner.png" alt="Genz">
                <div class="pattern-1"><img src=" /imgs/template/pattern-1.svg" alt="Genz"></div>
                <div class="pattern-2"><img src=" /imgs/template/pattern-2.svg" alt="Genz"></div>
                <div class="pattern-3"><img src=" /imgs/template/pattern-3.svg" alt="Genz"></div>
                <div class="pattern-4"><img src=" /imgs/template/pattern-4.svg" alt="Genz"></div>
            </div>
        </div>
    </div>
</div>
<div class="box-features bg-gray-850 border-gray-800">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0s">
            <span class="item-icon bg-gray-950 icon-motion"></span>
            <h5 class="color-white mb-15">Frontend<br>Geliştirme</h5>
            <p class="text-base color-gray-700">Modern ve etkileşimli kullanıcı arayüzleri geliştiriyorum. React ve Vue.js gibi teknolojilerle çalışıyorum.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
            <span class="item-icon bg-gray-950 icon-ui"></span>
            <h5 class="color-white mb-15">Backend<br>Mimarisi</h5>
            <p class="text-base color-gray-700">Node.js ve Django gibi teknolojilerle ölçeklenebilir ve güvenli backend sistemleri tasarlıyorum.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
            <span class="item-icon bg-gray-950 icon-branding"></span>
            <h5 class="color-white mb-15">Veritabanı<br>Yönetimi</h5>
            <p class="text-base color-gray-700">MongoDB, PostgreSQL gibi veritabanları ile veri depolama ve yönetimi konusunda uzmanım.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0s">
            <span class="item-icon bg-gray-950 icon-product"></span>
            <h5 class="color-white mb-15">API<br>Entegrasyonu</h5>
            <p class="text-base color-gray-700">RESTful ve GraphQL API'leri ile uygulamalar arası entegrasyonlar sağlıyorum.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
            <span class="item-icon bg-gray-950 icon-key"></span>
            <h5 class="color-white mb-15">DevOps<br>Çözümleri</h5>
            <p class="text-base color-gray-700">CI/CD pipeline'ları ve containerization (Docker, Kubernetes) ile sürekli entegrasyon ve dağıtım sağlıyorum.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-50 wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
            <span class="item-icon bg-gray-950 icon-social"></span>
            <h5 class="color-white mb-15">Proje<br>Yönetimi</h5>
            <p class="text-base color-gray-700">Agile ve Scrum metodolojileri ile projeleri etkili bir şekilde yönetiyorum.</p>
        </div>
    </div>
</div>
<div class="text-center mt-70 mb-50">
    <h2 class="color-linear d-inline-block mb-20 wow animate__animated animate__fadeInUp">Son Projelerim</h2>
    <p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">Full stack yazılım geliştirme alanında yaptığım projeleri keşfedin.<br class="d-none d-lg-block"></p>
</div>
<div class="row text-center filter-nav">
    <div class="col-lg-12">
        <span class="wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
            <span class="btn btn-border-linear btn-filter hover-up" data-filter="">Tümü</span>
        </span>
        <span class="wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
            <span class="btn btn-border-linear btn-filter hover-up" data-filter="web">Web Geliştirme</span>
        </span>
        <span class="wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <span class="btn btn-border-linear btn-filter hover-up" data-filter="mobile">Mobil Uygulama</span>
        </span>
        <span class="wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
            <span class="btn btn-border-linear btn-filter hover-up" data-filter="api">API Entegrasyonu</span>
        </span>
        <span class="wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
            <span class="btn btn-border-linear btn-filter hover-up" data-filter="database">Veritabanı Yönetimi</span>
        </span>
    </div>
</div>
<div class="mt-70 mb-50">
    <div class="row">
        <div class="col-lg-4">
            <div class="project" data-category="web api">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".0s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img1.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">E-Ticaret Platformu</h3>
                                        <p class="color-gray-500 text-sm">React ve Node.js kullanarak geliştirdiğim tam kapsamlı bir e-ticaret platformu.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project" data-category="mobile database">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".1s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img2.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">Mobil Not Uygulaması</h3>
                                        <p class="color-gray-500 text-sm">React Native ve Firebase ile geliştirilen bir mobil not alma uygulaması.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project" data-category="api database">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".2s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img3.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">RESTful API Servisi</h3>
                                        <p class="color-gray-500 text-sm">Express.js ve MongoDB kullanarak geliştirilen bir RESTful API servisi.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project" data-category="web database">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".0s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img4.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">Veritabanı Yönetim Paneli</h3>
                                        <p class="color-gray-500 text-sm">PostgreSQL ve Django ile geliştirilen bir veritabanı yönetim paneli.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project" data-category="web api">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".1s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img5.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">GraphQL API Entegrasyonu</h3>
                                        <p class="color-gray-500 text-sm">GraphQL ve Apollo Server kullanarak geliştirilen bir API entegrasyonu.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project" data-category="mobile">
                <div class="item-content">
                    <div class="card-style-1 hover-up mb-30" data-wow-delay=".2s">
                        <div class="card-image">
                            <a class="link-post" href="#">
                                <img src=" /imgs/page/about/img6.png" alt="Genz">
                                <div class="card-info card-bg-2">
                                    <div class="info-bottom mb-15">
                                        <h3 class="color-white mb-10">Mobil Ödeme Sistemi</h3>
                                        <p class="color-gray-500 text-sm">Flutter ve Stripe API kullanarak geliştirilen bir mobil ödeme sistemi.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="text-center mt-30">
    <h2 class="color-linear d-inline-block mb-10 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">Sıkça Sorulan Sorular</h2>
</div>
<div class="box-faqs mb-70">
    <div class="accordion" id="accordionFaqs">
        <div class="accordion-item border-gray-800 wow animate__animated animate__fadeIn">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="heading-4 color-white">Full stack geliştirici olarak hangi teknolojileri kullanıyorsunuz?</span></button>
            </h2>
            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFaqs">
                <div class="accordion-body">Frontend tarafında React ve Vue.js, backend tarafında ise Node.js ve Django gibi teknolojileri kullanıyorum. Ayrıca veritabanı yönetimi için MongoDB ve PostgreSQL tercih ediyorum.</div>
            </div>
        </div>
        <div class="accordion-item border-gray-800 wow animate__animated animate__fadeIn">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="heading-4 color-white">Projelerinizde nasıl bir iş akışı izliyorsunuz?</span></button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFaqs">
                <div class="accordion-body">Projelerde Agile ve Scrum metodolojilerini kullanıyorum. Bu sayede esnek ve hızlı bir şekilde ilerleyerek müşteri ihtiyaçlarını en iyi şekilde karşılıyorum.</div>
            </div>
        </div>
        <div class="accordion-item border-gray-800 wow animate__animated animate__fadeIn">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="heading-4 color-white">Mobil uygulama geliştirme konusunda tecrübeniz var mı?</span></button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFaqs">
                <div class="accordion-body">Evet, React Native ve Flutter kullanarak mobil uygulama geliştirme konusunda tecrübem bulunuyor. Bu teknolojilerle hem iOS hem de Android platformları için uygulamalar geliştirebiliyorum.</div>
            </div>
        </div>
        <div class="accordion-item border-gray-800 wow animate__animated animate__fadeIn">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span class="heading-4 color-white">API entegrasyonu hizmeti sunuyor musunuz?</span></button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionFaqs">
                <div class="accordion-body">Evet, RESTful ve GraphQL API'leri ile uygulamalar arası entegrasyonlar sağlıyorum. Bu sayede farklı sistemlerin birbiriyle iletişim kurmasını kolaylaştırıyorum.</div>
            </div>
        </div>
        <div class="accordion-item border-gray-800 wow animate__animated animate__fadeIn">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span class="heading-4 color-white">DevOps çözümleri sunuyor musunuz?</span></button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionFaqs">
                <div class="accordion-body">Evet, CI/CD pipeline'ları ve containerization (Docker, Kubernetes) ile sürekli entegrasyon ve dağıtım çözümleri sunuyorum. Bu sayede projelerin daha hızlı ve güvenilir bir şekilde yayına alınmasını sağlıyorum.</div>
            </div>
        </div>
    </div>
</div>