
      
<main class="main">
    <div class="cover-home3">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="text-center mt-70">
                        <h1 class="color-linear d-inline-block mb-30">İletişim</h1>
                        <p class="text-xl color-gray-500">Ben Umut Şen, bir dijital içerik üreticisi ve full stack yazılım geliştiriciyim. Web ve mobil uygulama geliştirme konusunda tutkulu bir ekibin parçasıyım. Tasarım ve kodlama kalitesi konusunda mükemmelliği hedefliyorum. Hız, güvenlik ve SEO dostu çözümler her zaman önceliğimdir.<br class="d-none d-lg-block"></p>
                    </div>
                    <div class="text-center mt-30">
                        <div class="d-inline-block support text-start">+90 534 848 32 90</div>
                        <div class="d-inline-block plane text-start">İstanbul<br>Turkiye </div>
                    </div>
                    <form action="/Blogs/Contact" method="post" id="contactform">
                        <div class="text-center">
                            <h3 class="color-linear d-inline-block mb-10">Bize Ulaşın</h3>
                            <p class="text-xs color-gray-500">E-posta adresiniz yayınlanmayacaktır. Zorunlu alanlar * ile işaretlenmiştir.</p>
                        </div>
                        <div class="row mt-50">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control bg-gray-850 border-gray-800 color-gray-500" type="text" placeholder="Adınız *" id="name" name="name" required />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control bg-gray-850 border-gray-800 color-gray-500" type="text" placeholder="E-posta *" id="email" name="email" required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control bg-gray-850 border-gray-800 color-gray-500" rows="5" placeholder="Mesajınız *" id="message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-center mb-50">
                                    <button type="submit" class="btn btn-linear btn-load-more btn-radius-8 hover-up">
                                        Mesaj Gönder
                                        <i class="fi-rr-arrow-small-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>